/* Подключение шрифта через CDN */
@import url("https://fonts.cdnfonts.com/css/tt-norms-pro-trial");

/* Основной стиль сайта */
body {
  font-family: "TT Norms Pro Trial", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
  font-weight: 500;
  font-style: Medium;
  line-height: 1.5;
  margin: 0;
  background: #0f1929;
}

h1 {
  font-size: 64px;
}

h2 {
  font-weight: 400;
  font-size: 52px;
  font-style: Regular;
}

button {
  font-weight: 700;
  font-style: bold;
}

/* Начало header-а */
header {
  width: 100%;
  height: 120px;
  background: #0f1929;
}

.w {
  color: #f6f7f8;
}

a {
  text-decoration: none;
}

.center {
  display: flex;
  align-content: center;
  justify-content: center;
}

.space {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

.top {
  width: 100%;
  height: 50px;
  background: #262e3a;
}

.info {
  width: 95vw;
}

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: stretch;
}

/* Меню */
.menu {
  width: 720px;
}

.rastoyanie {
  height: 70px;
  margin: 0 30px 0 30px;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 70px;
}

.dropdown-a {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: fixed;
  left: 50vw; /* начиная от середины экрана */
  right: 0; /* до правого края */
  background-color: #323a48;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu a:hover {
  color: #c7ab6b;
}

/* Показываем меню при наведении на родителя */
.dropdown:hover .dropdown-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropdown:hover .dropdown-a {
  color: #c7ab6b;
}

/* Cookie */
.cookie-banner {
  position: fixed;
  bottom: 30px;
  left: 30px;
  right: 30px;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border: 1px solid black;
  font-size: 20px;
  background-color: white;
}

.cookie-banner button {
  width: 350px;
  height: 60px;
  background: linear-gradient(
    90deg,
    #c9b797 0%,
    #c29d5d 10%,
    #a3885a 70%,
    #c29d5d 120%
  );
  border: none;
  padding: 10px 18px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
}

/* Container */
.container {
  width: 100%;
  height: 525px;
  background-image: url(./foto/fon.png);
  background-position: 100% 40%;
  background-repeat: no-repeat;
}

.est {
  color: #c7ab6b;
}

.grid h2 {
  width: 45vw;
}

.mini img {
  margin-right: 20px;
}

.button button {
  width: 350px;
  height: 60px;
  background: linear-gradient(
    90deg,
    #c9b797 0%,
    #c29d5d 10%,
    #a3885a 70%,
    #c29d5d 120%
  );
  padding: 10px 18px;
  color: #000;
  font-weight: bold;
  font-size: 20px;
}
